
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    color: #123;
    padding: 10px;
}
.container_1 {
    background-color: white;
    color: #123;
    margin: 0;
    text-align: center;
    height: 10%;
    width: 90%;
    overflow: auto;
}

.container_1 img{
    width: 70px; /* Adjust the width as needed */
    height: auto;/* To maintain aspect ratio */
    border-radius: 30px;
}

.container_1:first-child{
    width: 65%;
    text-align: right;
}

.container_1:last-child {
    width: 15%; /* Adjust the width as needed */
    text-align: center; /* Align the content to the right */
}

.container_3 {
    background-color: white;
    color: #123;
    margin: 0 auto;
    text-align: left;
    height: 90%;
    width: 90%;
    overflow: auto;
    text
}

main input:focus {
    border: 2px solid black; /* Highlight color */
    outline: none; /* Remove default outline */
    border-radius: 8px;
}


.container_4 {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    padding: 130px;
}

footer {
    background-color: white;
    color: #123;
    text-align: center;
    padding: 10px 0;
}